.b1{


    text-decoration: underline;
    text-decoration:-style:wavy;
    text-decoration: lightskyblue;
    text-decoration: grey;
    text-decoration: wheat;

    
}
.b2{


    text-decoration: line-through;
    text-decoration: orchid;
    text-decoration: darkkhaki;
    text-decoration: rosybrown;
}
.b3{
    text-decoration: ;
    text-decoration: olive;
    text-decoration: mediumseagreen;
    text-decoration: sienna;
}



