.click
{
    margin-left:560px;
    border-radius: 10px;

}

h1
{
    color:whitesmoke;
    margin-left: 400px;
}

#img2
{
    margin-left: 400px;
}
.a1
{
    border-radius: 7px;
    
}

#img2
{
    height:700px;
    width:600px;
}