#img1
{
    height:400px;
    width:500px;
}

#top
{
    color:blue;
}

.second
{
    background-color:sandybrown;
    height:200px;
    width:350px;
    border-radius: 20px;
    margin-left: 70px;
}