#type
{
    margin-left: 400px;
    height:350px;
    width:750px;
    padding:10px 40px;
    position: absolute;
    margin-top: 150px;
    
}

h1
{
    color:black;
}

#b1
{
    border-radius: 20px;
    height: 90px;
    width:130px;
    background-color: #e0e0e0;
     
    
}

#b2
{
    border-radius: 20px;
    height: 90px;
    width:130px;
    background-color: #6fcf97;

    
}

#b3
{
    border-radius: 20px;
    height: 90px;
    width:130px;
    background-color:#56ccf2 ;
    
}

#b4
{
    border-radius: 20px;
    height: 90px;
    width:130px;
    background-color:#bb6bd9 ;
    
}

#b1:hover
{
  
    box-shadow:5px 5px 5px black;
}
#b2:hover
{
    
    box-shadow:5px 5px 5px black;
}
#b3:hover
{
    
    box-shadow:5px 5px 5px black;
}
#b4:hover
{
    
    box-shadow:5px 5px 5px black;
}

.second
{
    width: 500px;
   
    margin-top: 30px;
    border-radius: 20px;

}